.modeler2025-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.modeler2025-modeler2025-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-text10 {
  display: inline-block;
}
 
.modeler2025-text11 {
  display: inline-block;
}
 
.modeler2025-framepage {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-framemainrow {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
 
.modeler2025-left-container {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.modeler2025-text12 {
  display: inline-block;
}
 
.modeler2025-text13 {
  display: inline-block;
}
 
.modeler2025-text14 {
  display: inline-block;
}
 
.modeler2025-text15 {
  display: inline-block;
}
 
.modeler2025-text16 {
  display: inline-block;
}
 
.modeler2025-text17 {
  display: inline-block;
}
 
.modeler2025-text18 {
  display: inline-block;
}
 
.modeler2025-text19 {
  display: inline-block;
}
 
.modeler2025-text20 {
  display: inline-block;
}
 
.modeler2025-text21 {
  display: inline-block;
}
 
.modeler2025-text22 {
  display: inline-block;
}
