.modeler2025-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.modeler2025-modeler2025 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-frameheader {
  width: auto;
  height: 44px;
  display: flex;
  padding: 4px 12px 4px 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(204, 204, 204, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-frameheaderleft {
  gap: 8px;
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.modeler2025-frameappswitcher {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.modeler2025-global-icon-container1 {
  height: 36px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container2 {
  gap: 8px;
  width: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-frame11921 {
  width: 36px;
  height: 36px;
}
 
.modeler2025-logotitlewrapper {
  gap: 20px;
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
}
 
.modeler2025-logocoupawhite {
  width: 84px;
  height: 24px;
}
 
.modeler2025-text10 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-header-centre {
  gap: 4px;
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: inherit;
  justify-content: center;
}
 
.modeler2025-framedropdownselect {
  gap: 4px;
  display: flex;
  align-items: center;
}
 
.modeler2025-text11 {
  color: rgb(51, 51, 51);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito Sans";
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-dropdown {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.modeler2025-tablericonchevrondown {
  width: 16px;
  height: 16px;
}
 
.modeler2025-frame3466858 {
  gap: 4px;
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-btnmodelsettings {
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container3 {
  gap: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-frame11922 {
  gap: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-nav-icons1 {
  width: 24px;
  height: 24px;
}
 
.modeler2025-btnrunmodel {
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container4 {
  gap: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-frame11923 {
  gap: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-nav-icons2 {
  width: 24px;
  height: 24px;
}
 
.modeler2025-line6 {
  width: 27px;
  height: 100%;
}
 
.modeler2025-btnnavilink {
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container5 {
  gap: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-frame11924 {
  gap: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-nav-icons3 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.modeler2025-frame3466876 {
  top: 3.984375px;
  left: 2.5px;
  width: 19px;
  height: 16px;
  position: absolute;
}
 
.modeler2025-btnhelp {
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container6 {
  gap: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-iconhelp-center-copy {
  width: 16px;
  height: 16.485294342041016px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.modeler2025-rectangle {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.modeler2025-group2 {
  top: 1px;
  left: 4.5px;
  width: 8px;
  height: 15.485294342041016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.modeler2025-path2 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 11px;
  position: absolute;
}
 
.modeler2025-oval {
  top: 12.985294342041016px;
  left: 3.0999999046325684px;
  width: 2px;
  height: 2px;
  position: absolute;
}
 
.modeler2025-btnnotifications {
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container7 {
  gap: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-frame11925 {
  gap: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-nav-icons4 {
  width: 24px;
  height: 24px;
}
 
.modeler2025-buttomuser {
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-global-icon-container8 {
  gap: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-frame11926 {
  gap: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-nav-icons5 {
  width: 24px;
  height: 24px;
}
 
.modeler2025-framepage {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-framemainrow {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
 
.modeler2025-framemenucategorycontainer {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.modeler2025-framemenu {
  height: 1036px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-ul1 {
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frame-custom-expandable-nav-item1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frame-list-item1 {
  height: 42px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
}
 
.modeler2025-container2 {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modeler2025-list-item-text1 {
  width: 142px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.modeler2025-text12 {
  color: rgba(96, 118, 138, 1);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: 142.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-icon-button-small-small-default-enabled {
  display: flex;
  padding: 5px;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-icon {
  display: flex;
  align-items: flex-start;
}
 
.modeler2025-menuoutline {
  width: 24px;
  height: 24px;
}
 
.modeler2025-frame-list-item2 {
  height: 45px;
  display: flex;
  padding: 0 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(38, 142, 205, 1);
}
 
.modeler2025-container3 {
  gap: 8px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modeler2025-left-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-left-content2 {
  width: 24px;
  height: 25px;
}
 
.modeler2025-list-item-text2 {
  width: 136px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.modeler2025-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-list-item3 {
  height: 45px;
  display: flex;
  padding: 0 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
}
 
.modeler2025-container4 {
  gap: 8px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modeler2025-left-content3 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-left-content4 {
  width: 19px;
  height: 19px;
}
 
.modeler2025-list-item-text3 {
  width: 136px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.modeler2025-text14 {
  color: rgba(0, 0, 0, 0.8700000047683716);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-framesectioncontent {
  height: 1036px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(204, 204, 204, 1);
  border-style: solid;
  border-width: 0 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-framesectionheader {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(38, 142, 205, 1);
}
 
.modeler2025ui-left-panel-header {
  gap: 16px;
  display: flex;
  padding: 20px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-button1 {
  display: flex;
  padding: 4px 10px;
  overflow: hidden;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-base1 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.modeler2025-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-custom-sidenav {
  width: 256px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-ul2 {
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frame-custom-expandable-nav-item2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frame-accordionheader {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
}
 
.modeler2025-container5 {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modeler2025-left-content5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frame-icon1 {
  display: flex;
  align-items: flex-start;
}
 
.modeler2025-chevronupoutline {
  width: 24px;
  height: 24px;
}
 
.modeler2025-list-item-text4 {
  width: 208px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.modeler2025-text17 {
  color: rgba(0, 0, 0, 0.8700000047683716);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 142.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-list-item4 {
  display: flex;
  padding: 0 4px 0 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
}
 
.modeler2025-container6 {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modeler2025-left-content6 {
  width: 24px;
  height: 24px;
}
 
.modeler2025-list-item-text5 {
  width: 160px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.modeler2025-text18 {
  color: rgba(0, 0, 0, 0.8700000047683716);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 142.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-chip {
  display: flex;
  padding: 3px 4px;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.07999999821186066);
}
 
.modeler2025-typography {
  display: flex;
  padding: 0 6px;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-framecanvas {
  display: flex;
  padding: 12px 12px 12px 10px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(242, 242, 242, 1);
}
 
.modeler2025-framecanvasinnerframe {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frametabcontainer {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.modeler2025-frame-tabs {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-container7 {
  display: flex;
  align-items: flex-start;
}
 
.modeler2025-frame-tab1 {
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(24, 103, 205, 1);
  border-style: solid;
  border-width: 2px 0 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-container8 {
  gap: 4px;
  display: flex;
  padding: 9px 8px;
  align-items: center;
  justify-content: center;
}
 
.modeler2025-iconslot {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-table1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.modeler2025-table2 {
  top: 3.5000038146972656px;
  left: 3.5000152587890625px;
  width: 17px;
  height: 17px;
  position: absolute;
}
 
.modeler2025-labelwrapper {
  gap: 8px;
  display: flex;
  padding: 0 16px 0 0;
  align-items: center;
  justify-content: center;
}
 
.modeler2025-text19 {
  color: rgba(24, 103, 205, 1);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-frame-icon2 {
  display: flex;
  align-items: flex-start;
}
 
.modeler2025-morevertoutline {
  width: 24px;
  height: 24px;
}
 
.modeler2025-frame-tab2 {
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.modeler2025-frametabcontent {
  gap: 8px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-frame1158 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modeler2025-frame1161 {
  gap: 529px;
  display: flex;
  padding: 6px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(233, 233, 233, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.modeler2025-frame1171276206 {
  gap: 12px;
  display: flex;
  align-items: center;
}
 
.modeler2025-frame-button2 {
  display: flex;
  padding: 4px 5px;
  overflow: hidden;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-base2 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.modeler2025-text20 {
  color: rgba(33, 150, 243, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-master-current-display-table {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
 
.modeler2025-properties {
  height: 1036px;
  display: flex;
  overflow: hidden;
  min-width: 200px;
  align-self: stretch;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modeler2025-framedrawerheader {
  height: 44px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.modeler2025-text21 {
  color: rgba(106, 105, 105, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.modeler2025-text22 {
  display: inline-block;
}
